@import "../../theme/palette";

.wrap_header {
  display: flex;
  justify-content: center;
  height: 4vw;
  background-color: $color_blue;
  align-items: center;

  a {
    font-size: 1.5vw;
    text-decoration: none;
    text-transform: uppercase;
    color: $color_white;
    margin-right: 1vw;

    &.activeLink {
     text-decoration: underline;
    }
  }

}
